---
import Layout from "../layouts/Layout.astro";
import SpaceX from "../components/SpaceX.astro";
---

<Layout title="Welcome to Astro.">
  <div id="TeslaContainer">
    <SpaceX />
  </div>
</Layout>
